<style>
.blinkscreen {
    position:fixed;
    width:100%;
    height:100%;
    background-color: #eeee;
    z-index:99999999999999;
}

.rectangle {    
    position: absolute;
    width: 5px;
    height: 385px;
    left: 29px;
    top: 66px;
    background: #C4C4C4; 
    border-radius:20px;
}    

.ellipse {		
    position: absolute;
    width: 22px;
    height: 22px;
    left: 21px;
    top: 102px;
    border-radius:30px;
    background: #C4C4C4;        
}

.ellipse2 {
    position: absolute;
    width: 12px;
    height: 12px;
    left: 26px;
    top: 345px;
    border-radius:30px;
    background: #C4C4C4;
}
    
.ellipse3 {
    position: absolute;
    width: 12px;
    height: 12px;
    left: 26px;
    top: 445px;
    border-radius:30px;
    background: #C4C4C4;
}
    
.currentStation {
    position: absolute;
    width: 275px;
    height: 205px;
    left: 58px;
    top: 90px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: normal;

    color: #FFFFFF;
}
    
.currentlyAt {
    position: absolute;
    width: 94px;
    height: 23px;
    left: 58px;
    top: 67px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: normal;

    color: #9D9D9D;
}

.nextStation {
    position: absolute;
    width: 263px;
    height: 28px;
    left: 58px;
    top: 337px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: normal;

    color: #CDCDCD;
}
    
.next {
    position: absolute;
    width: 53px;
    height: 21px;
    left: 58px;
    top: 316px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: normal;

    color: #9D9D9D;
}
    
.moreStations {

    position: absolute;
    width: 263px;
    height: 16px;
    left: 58px;
    top: 369px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: normal;

    color: #9D9D9D;

}

.destinationStation {
    position: absolute;
    width: 263px;
    height: 38px;
    left: 53px;
    top: 438px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: normal;

    color: #CDCDCD;
}
    
.arrivingAt {
	position: absolute;
    width: 79px;
    height: 16px;
    left: 53px;
    top: 418px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: normal;

    color: #9D9D9D;
}
    
.minutes {
	position: absolute;
    width: 263px;
    height: 16px;
    left: 53px;
    top: 472px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: normal;

    color: #9D9D9D;
}

</style>

<div class="blinkscreen" id="bsEnter"></div>
<div class="blinkscreen" id="bsExit"></div>


<div style="display:none;" id="geolocationNotAllowed">
    <nav class="transparent z-depth-0">
    	<div class="right" style="padding-right:5%">
        	<a ng-click="$ctrl.exit()">
               <i class="material-icons">close</i>
            </a>
        </div>
    </nav>

    <div class="container">
        <br><br>
        <h2 class="white-text">
            Geolocation is not available on your device
        </h2>
    </div>    
</div>

<div style="display:none;" id="noNearbyStation">
    <nav class="transparent z-depth-0">
    	<div class="right" style="padding-right:5%">
        	<a ng-click="$ctrl.exit()">
               <i class="material-icons">close</i>
            </a>
        </div>
    </nav>

    <div class="container">
        <br><br>
        <h2 class="white-text">
            <div class="row">
                <div class="col s2">
                
                    <div class="rectangle"></div>
                    <div class="ellipse"></div>
                    <div class="ellipse2"></div>
                    <div class="ellipse3"></div>
                
                </div>            	
                <div class="col s10">
                    <div class="currentlyAt">
                        currently at
                    </div>
                    <div class="currentStation">
                       Yamaha Monumento Station
                    </div>

                    <div class="next">next</div>
                    <div class="nextStation">Araneta Center-Cubao</div>
                    <div class="moreStations">and 7 more</div>

                    <div class="arrivingAt">arriving at</div>
                    <div class="destinationStation">Araneta Center-Cubao</div>
                    <div class="minutes">in 8 minutes</div>

                </div>
            </div>            
        </h2>
    </div>    
</div>


<div id="rideInterface">
    <nav class="transparent z-depth-0">
    	<div class="right" style="padding-right:5%">
        	<a ng-click="$ctrl.exit()">
               <i class="material-icons">close</i>
            </a>
        </div>
    </nav>

        <div class="container">
                  <br><br>
                          <h2 class="white-text">
                                        <div class="row">
                                                          <div class="col s2">
                                                                            
                                                                                <div class="rectangle"></div>
                                                                                                    <div class="ellipse"></div>
                                                                                                                        <div class="ellipse2"></div>
                                                                                                                                            <div class="ellipse3"></div>
                                                                                                                                                            
                                                                                                                                                            </div>              
                                                                                                                                                                            <div class="col s10">
                                                                                                                                                                                                  <div class="currentlyAt">
                                                                                                                                                                                                                            currently at
                                                                                                                                                                                                                                                </div>
                                                                                                                                                                                                                                                                    <div class="currentStation">
                                                                                                                                                                                                                                                                                             Yamaha Monumento Station
                                                                                                                                                                                                                                                                                                                 </div>

                                                                                                                                                                                                                                                                                                                                     <div class="next">next</div>
                                                                                                                                                                                                                                                                                                                                                         <div class="nextStation">Araneta Center-Cubao</div>
                                                                                                                                                                                                                                                                                                                                                                             <div class="moreStations">and 7 more</div>

                                                                                                                                                                                                                                                                                                                                                                                                 <div class="arrivingAt">arriving at</div>
                                                                                                                                                                                                                                                                                                                                                                                                                     <div class="destinationStation">Araneta Center-Cubao</div>
                                                                                                                                                                                                                                                                                                                                                                                                                                         <div class="minutes">in 8 minutes</div>

                                                                                                                                                                                                                                                                                                                                                                                                                                                         </div>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                     </div>            
                                                                                                                                                                                                                                                                                                                                                                                                                                                                             </h2>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 </div>    


    <div class="container" style="display:none;" id="geolocationNotAllowed">
        <br><br>
        <h2 class="white-text">
            Geolocation is not available on your device
        </h2>
    </div>
    
    <!--div class="container"><br>
        <h1 class="White-text" id="coords">
        </h1>
    </div-->
</div>
