<!-- Station not found -->
<div ng-if="!$ctrl.currentStation">
	<nav class="transparent z-depth-0">
    	<div class="right" style="padding-right:5%">
        	<a ng-href="#!" class="grey-text text-darken-4">
               <i class="material-icons white-text" ng-if="$ctrl.isDark == true">close</i>
               <i class="material-icons" ng-if="$ctrl.isDark == false">close</i>
            </a>
        </div>
    </nav>
    
    <div class="content" style="text-align:center;">
        <h4 class="grey-text">
            <i class="large material-icons">sentiment_dissatisfied</i><br><br>
            Station Not Found
        </h4>
    </div>
</div>
<!-- .Station not found -->

<!-- Station Info -->
<div ng-if="$ctrl.currentStation !== null">
	<nav class="transparent z-depth-0">
    	<div class="right" style="padding-right:5%">
        	<a ng-href="#!" class="grey-text text-darken-4">
               <i class="material-icons white-text" ng-if="$ctrl.isDark == true">close</i>
               <i class="material-icons" ng-if="$ctrl.isDark == false">close</i>
            </a>
        </div>
    </nav>
    
    <div class="container">
    	<h3 style="font-weight:bold" ng-if="$ctrl.isDark == false" class="grey-text text-darken-3">{{$ctrl.currentStation.name}} <span ng-if="$ctrl.currentStation.is_terminal == 'TRUE'">Terminal</span><span ng-if="$ctrl.currentStation.is_terminal == 'FALSE'">Station</span>
        </h3>
        <h3 style="font-weight:bold" ng-if="$ctrl.isDark == true" class="white-text">
            {{$ctrl.currentStation.name}} <span ng-if="$ctrl.currentStation.is_terminal == 'TRUE'">Terminal</span><span ng-if="$ctrl.currentStation.is_terminal == 'FALSE'">Station</span>
        </h3>
    </div>
    <ul class="collection">
        <li class="collection-item transparent">
        	<h5 ng-if="$ctrl.isDark == false">
            	{{$ctrl.systems.getById($ctrl.currentStation.system_id).name}}
            </h5>
            <p class="grey-text">
                System Line
            </p>
        </li>
        <li class="collection-item transparent">
            <h5 ng-if="$ctrl.isDark == false">
            	{{$ctrl.currentStation.district}}
            </h5>
			<p class="grey-text">
                District
            </p>
        </li>
        <li class="collection-item transparent">
            <h5 ng-if="$ctrl.isDark == false">
            	{{$ctrl.currentStation.city}}
            </h5>
			<p class="grey-text">
                City
            </p>
        </li>        
    </ul>
    
</div>
<!-- .Station Info -->