<style>
.bottombar {
    position:fixed;
    height:60px;
    margin:0px;
    bottom:0;
    width:100%;
    overflow:hidden;
    background-color: white;
    //box-shadow: 0px -2.5px rgba(0, 0, 0, 0.12);
    box-shadow: 0 -5px 10px rgba(150, 150, 150, 0.2);

    padding-top:13px;
}
    
.fixed-action-btn {
    left:40vw !important;
	right:45vw !important;
    width:inherit;   
}
    
.btn-floating {
	width: 70px !important;
    height: 70px !important;
    padding-top:8px !important;
}
    

</style>

<footer class="bottombar grey lighten-4 hide-on-med-and-up" ng-if="$ctrl.isDark == false">
    <div class="col s12">
        <ul class="tabs tabs-fixed-width  grey lighten-4">
            <li class="tab col s3" style="line-height:12px; padding-right:10%">
                <a ng-href="#!home">
                    <i class="material-icons grey-text text-darken-2">home</i><br>
                    <b style="font-size:7pt;" class="black-text">Home</b>
                </a>
            </li>
            <li class="tab col s3" style="line-height:12px;">
                <a ng-href="#!more">
                    <i class="material-icons grey-text text-darken-2">menu</i><br><b style="font-size:7pt"  class="black-text">More</b>
                </a>
            </li>
        </ul>
    </div>
    
    <div class="fixed-action-btn">
        <a class="btn-floating btn-large yellow darken-2 z-depth-4" href="#!ride">
        	<i class="material-icons black-text">navigation</i> Ride
    	</a>
	</div>
    
</footer>

<footer class="bottombar blue-grey darken-3 hide-on-med-and-up" style="box-shadow: unset;" ng-if="$ctrl.isDark == true">
    <div class="col s12">
        <ul class="tabs tabs-fixed-width  blue-grey darken-3">
            <li class="tab col s3" style="line-height:12px; padding-right:10%">
                <a ng-href="#!home">
                    <i class="material-icons grey-text text-lighten-4">home</i><br>
                    <b style="font-size:7pt;" class="grey-text text-lighten-4">Home</b>
                </a>
            </li>
            <li class="tab col s3" style="line-height:12px;">
                <a ng-href="#!more">
                    <i class="material-icons grey-text text-lighten-4">menu</i><br><b style="font-size:7pt"  class="grey-text text-lighten-4">More</b>
                </a>
            </li>
        </ul>
    </div>
    
    <div class="fixed-action-btn">
        <a class="btn-floating btn-large yellow darken-2 z-depth-4" href="#!ride">
        	<i class="material-icons black-text">navigation</i> Ride
    	</a>
	</div>
    
</footer>



