<style>
.card {
        display:inline-block !important;
        width:50%;
        margin-right:12px;
        border-radius: 12px;
	    box-shadow: 0 20px 20px rgba(150, 150, 150, 0.2);
    	padding:0 !important;
    }
    
.card-img > img {
	border-radius: 12px 12px 0px 0px;        
}

.cards-container {
  column-break-inside: avoid;
}
.cards-container .card {
  display: inline-block;
  overflow: visible;
  width:100% !important;
}

@media only screen and (max-width: 600px) {
  .cards-container {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }
}
@media only screen and (min-width: 601px) {
  .cards-container {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}
@media only screen and (min-width: 993px) {
  .cards-container {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
  }
}
    
    
h1.circle-title {        
        border-radius: 100px;
        border-color:rgb(230, 230, 230);
        border-style:solid;
        border-width: 1px;
        display:inline !important;
        font-size: 10pt !important;
        font-weight: bold !important;
        padding: 0.5rem 2rem;
        color: grey;
        display: inline-block; 
        margin-right: 5px;
    }
div.horizontal-scroll {
        padding-left: 40px;
        padding-bottom: 40px;
        overflow: auto;
        height:inherit;
        white-space: nowrap;
    }
    
    
    ::-webkit-scrollbar {
    	width: 0px;  /* remove scrollbar space */
    	background: transparent;  /* optional: just make scrollbar invisible */
</style>

<div ng-if="!$ctrl.currentSystem">
	<nav class="transparent z-depth-0">
    	<div class="right" style="padding-right:5%">
        	<a ng-click="$ctrl.exit()" class="grey-text text-darken-4">
               <i class="material-icons white-text" ng-if="$ctrl.isDark == true">close</i>
               <i class="material-icons" ng-if="$ctrl.isDark == false">close</i>
            </a>
        </div>
    </nav>
    
    <div class="container">
        <h4 ng-if="$ctrl.isDark == false" class="grey-text text-darken-2" id="title">Philippine Train System</h4>
        <h4 ng-if="$ctrl.isDark == true" class="white-text">Philippine Train System</h4>
        <br><br>
    </div>
            <div class="horizontal-scroll" style="padding-top:10px; padding-bottom:10px; padding-right:30px;">
           <a href="#!system">
               <h1 ng-if="$ctrl.isDark == false" class="circle-title">All Stations</h1>
               <h1 ng-if="$ctrl.isDark == true" class="circle-title white-text">All Stations</h1>
               
           </a> 
           <a ng-repeat="sys in $ctrl.systems" href="#!station?id={{sys.id}}">
                <h1 ng-if="$ctrl.isDark == false" class="circle-title">{{sys.short_name}}
               </h1>
               <h1 ng-if="$ctrl.isDark == true" class="circle-title white-text">{{sys.short_name}}
               </h1>
            </a>
        </div>
    <br><br>
    <ul class="collection">
        <span ng-repeat="s in $ctrl.stations" style="line-height:0px;">
            <a href="#!station?id={{s.id}}">
        	<li class="collection-item transparent">
                <h5 class="grey-text text-darken-4">
                    <strong ng-if="$ctrl.isDark == false">
                        {{s.name}} <span ng-if="s.is_terminal == 'FALSE'">Station</span><span ng-if="s.is_terminal == 'TRUE'">Terminal</span>
                    </strong>
                    <strong ng-if="$ctrl.isDark == true" class="white-text">
                        {{s.name}} <span ng-if="s.is_terminal == 'FALSE'">Station</span><span ng-if="s.is_terminal == 'TRUE'">Terminal</span>
                    </strong>
                </h5>
                <p class="grey-text text-darken-2" ng-if="$ctrl.isDark == false">
                    {{s.district}}
                    <span ng-if="s.system_id == 1"><br>LRT 1</span>
                    <span ng-if="s.system_id == 2"><br>LRT 2</span>
                    <span ng-if="s.system_id == 3"><br>MRT 3</span>
                </p>
                <p class="grey-text text-lighten-2" ng-if="$ctrl.isDark == true">
                    {{s.district}}
                    <span ng-if="s.system_id == 1"><br>LRT 1</span>
                    <span ng-if="s.system_id == 2"><br>LRT 2</span>
                    <span ng-if="s.system_id == 3"><br>MRT 3</span>
                </p>
                
                <span ng-if="s.is_transfer_station == 'true'" ng-repeat="ts in s.transfer_stations">                    
                	<span class="chip yellow darken-3 white-text" ng-if="($ctrl.stationsC.getById(ts)).system_id == 1">
                        <i class="tiny material-icons">
transfer_within_a_station</i> {{($ctrl.stationsC.getById(ts)).name}} ({{($ctrl.systemsC.getById(($ctrl.stationsC.getById(ts)).system_id)).short_name}})
                    </span>
                    <span class="chip purple darken-2 white-text" ng-if="($ctrl.stationsC.getById(ts)).system_id == 2">
                        <i class="tiny material-icons">
transfer_within_a_station</i> {{($ctrl.stationsC.getById(ts)).name}} ({{($ctrl.systemsC.getById(($ctrl.stationsC.getById(ts)).system_id)).short_name}})
                    </span>
                    <span class="chip blue darken-2 white-text" ng-if="($ctrl.stationsC.getById(ts)).system_id == 3">
                        <i class="tiny material-icons">
transfer_within_a_station</i> {{($ctrl.stationsC.getById(ts)).name}} ({{($ctrl.systemsC.getById(($ctrl.stationsC.getById(ts)).system_id)).short_name}})
                    </span>                    
                </span>
                
            </li>
            </a>
        </span>
    </ul>
    <br><br><br><br>
</div>

<div ng-if="$ctrl.currentSystem">
    <nav class="transparent z-depth-0">
    	<div class="right" style="padding-right:5%">
        	<a ng-click="$ctrl.exit()" class="grey-text text-darken-4">
               <i class="material-icons white-text" ng-if="$ctrl.isDark == true">close</i>
               <i class="material-icons" ng-if="$ctrl.isDark == false">close</i>
            </a>
        </div>
    </nav>
    
    <div class="container">
        <h4 ng-if="$ctrl.isDark == false" class="grey-text text-darken-2">{{$ctrl.currentSystem.name}}</h4>
        <h4 ng-if="$ctrl.isDark == true" class="white-text">{{$ctrl.currentSystem.name}}</h4>
        <br><br>
    </div>
            <div class="horizontal-scroll" style="padding-top:10px; padding-bottom:10px; padding-right:30px;">
           <a href="#!system">
               <h1 ng-if="$ctrl.isDark == false" class="circle-title">All Stations</h1>
               <h1 ng-if="$ctrl.isDark == true" class="circle-title white-text">All Stations</h1>
           </a> 
           <a ng-repeat="sys in $ctrl.systems" href="#!system?id={{sys.id}}">
               <h1 ng-if="$ctrl.isDark == false" class="circle-title">{{sys.short_name}}</h1>
               <h1 ng-if="$ctrl.isDark == true" class="circle-title white-text">{{sys.short_name}}</h1>
            </a>
        </div>
    <br><br>
    <ul class="collection">
        <span ng-repeat="s in $ctrl.stations" style="line-height:0px;">
            <a href="#!station?id={{s.id}}">
        	<li class="collection-item transparent">
                <h5 class="grey-text text-darken-4">
                    <strong ng-if="$ctrl.isDark == false">
                        {{s.name}} <span ng-if="s.is_terminal == 'FALSE'">Station</span><span ng-if="s.is_terminal == 'TRUE'">Terminal</span>
                    </strong>
                    <strong ng-if="$ctrl.isDark == true" class="white-text">
                        {{s.name}} <span ng-if="s.is_terminal == 'FALSE'">Station</span><span ng-if="s.is_terminal == 'TRUE'">Terminal</span>
                    </strong>
                </h5>
                <p class="grey-text text-darken-2" ng-if="$ctrl.isDark == false">
                    {{s.district}}
                    <span ng-if="s.system_id == 1"><br>LRT 1</span>
                    <span ng-if="s.system_id == 2"><br>LRT 2</span>
                    <span ng-if="s.system_id == 3"><br>MRT 3</span>
                </p>
                <p class="grey-text text-lighten-2" ng-if="$ctrl.isDark == true">
                    {{s.district}}
                    <span ng-if="s.system_id == 1"><br>LRT 1</span>
                    <span ng-if="s.system_id == 2"><br>LRT 2</span>
                    <span ng-if="s.system_id == 3"><br>MRT 3</span>
                </p>
                <span ng-if="s.is_transfer_station == 'true'" ng-repeat="ts in s.transfer_stations">                    
                	<span class="chip yellow darken-3 white-text" ng-if="($ctrl.stationsC.getById(ts)).system_id == 1">
                        <i class="tiny material-icons">
transfer_within_a_station</i> {{($ctrl.stationsC.getById(ts)).name}} ({{($ctrl.systemsC.getById(($ctrl.stationsC.getById(ts)).system_id)).short_name}})
                    </span>
                    <span class="chip purple darken-2 white-text" ng-if="($ctrl.stationsC.getById(ts)).system_id == 2">
                        <i class="tiny material-icons">
transfer_within_a_station</i> {{($ctrl.stationsC.getById(ts)).name}} ({{($ctrl.systemsC.getById(($ctrl.stationsC.getById(ts)).system_id)).short_name}})
                    </span>
                    <span class="chip blue darken-2 white-text" ng-if="($ctrl.stationsC.getById(ts)).system_id == 3">
                        <i class="tiny material-icons">
transfer_within_a_station</i> {{($ctrl.stationsC.getById(ts)).name}} ({{($ctrl.systemsC.getById(($ctrl.stationsC.getById(ts)).system_id)).short_name}})
                    </span>                    
                </span>                
            </li>
            </a>
        </span>
    </ul>
    <br><br><br><br>
</div>
