<style>
    div.horizontal-scroll {
        padding-left: 40px;
        padding-bottom: 40px;
        overflow: auto;
        height:inherit;
        white-space: nowrap;
    }
    .card {
        display:inline-block;
        width:50%;
        margin-right:15px;
        border-radius: 12px;
	    box-shadow: 0 20px 40px rgba(150, 150, 150, 0.2);
    }
    
    .card-img > img {
        border-radius: 12px 12px 0px 0px;
    }
    
    div.card-action {
        border-radius: 0px 0px 12px 12px !important;
    }
    
    ::-webkit-scrollbar {
    	width: 0px;  /* remove scrollbar space */
    	background: transparent;  /* optional: just make scrollbar invisible */
	}
    
    .bottom-modal {
        position:fixed;
        width:100%;
        background-color:#ffff;
        bottom:0px;
        padding-left:20px;
        padding-right:20px;
        padding-top:15px;
        padding-bottom:15px;
        box-shadow: 0px -2.5px rgba(0, 0, 0, 0.12);
        border-radius:16px;
        display:none;
    }
    
    .bottom-modal.top{
        z-index:99999999999999;
    }
    
    .bottom-modal.above-bottombar{
        bottom:60px;
        padding-bottom:30px;
    }
    
    h1.circle-title {        
        border-radius: 100px;
        border-color:rgb(230, 230, 230);
        border-style:solid;
        border-width: 1px;
        display:inline !important;
        font-size: 10pt !important;
        font-weight: bold !important;
        padding: 0.5rem 2rem;
        color: grey;
        display: inline-block; 
        margin-right: 5px;
    }
        
</style>

<div class="container">
    <br>
    <h4>
        <center>
        	<b class="white-text" ng-if="$ctrl.isDark == true">{{$ctrl.headerMessage}}</b>
            <b class="grey-text" ng-if="$ctrl.isDark == false">{{$ctrl.headerMessage}}</b>
        </center>
    </h4><br>
</div>
	    	<div class="horizontal-scroll" style="padding-top:10px; padding-bottom:10px; padding-right:30px;">
            <span class="grey-text" style="padding-right:10px">
            	are you going...
             </span>
    		<h1 class="circle-title">
               Home 
            </h1>
            <h1 class="circle-title">
               School 
            </h1>
                <h1 class="circle-title">
               Bambang Station 
            </h1>
    	</div>    	
    
	<br>
    <div ng-if="$ctrl.recentStations">
        <div class="container">
        	<h5 class="white-text" ng-if="$ctrl.isDark == true">Recent Places</h5>
            <h5 class="grey-text" ng-if="$ctrl.isDark == false">Recent Places</h5>
        </div><br>
        <div class="horizontal-scroll">
        	<div ng-repeat="s in $ctrl.recentStations" class="card hoverable" width="40px !important">
                <div class="card-img">
                	<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f1/LRT1_Monumento_Station_2009_MC.jpg/300px-LRT1_Monumento_Station_2009_MC.jpg" width="100%">
                </div>
                <div class="card-content" style="padding-right:40px !important;">
                    <h6 class="truncate">
                        {{s.name}}
                    </h6>
                    <p class="grey-text">
                        {{s.district}}
                    </p>
                    <br>
                </div>
	            </div>
        </div>
        <br>
    </div>	
	
	<!-- LRT 1 -->
	<div class="container">
		<h5 class="white-text" ng-if="$ctrl.isDark == true">LRT 1</h5>
        <h5 class="grey-text" ng-if="$ctrl.isDark == false">LRT 1</h5><br>
	</div>
	<div class="horizontal-scroll">
        <span ng-repeat="s in $ctrl.sList.lrt1">
            <div ng-if="s.system_id == 1" class="card hoverable">
                <div class="card-img">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f1/LRT1_Monumento_Station_2009_MC.jpg/300px-LRT1_Monumento_Station_2009_MC.jpg" width="100%">
                </div>
                <div class="card-content">
                    <h6 class="truncate">{{s.name}}</h6>
                    <p class="grey-text">{{s.district}}</p>
                </div>
            </div>
        </span>
        
        <a href="#!system?id=1" class="black-text">
		<div class="card hoverable" style="bottom:30px">
        	<div class="card-img"></div>
            <div class="card-content">
				<p style="white-space:wrap;">
                    See all<br>20 stations
                </p>
            </div>
            <div class="card-action yellow darken-2">
            	<a class="black-text" href="#!system?id=1">SEE ALL</a>
            </div>
        </div>
       </a>        
	</div>
	<!-- .LRT 1 -->

	<!-- LRT 2 -->
	<div class="container">
		<h5 class="white-text" ng-if="$ctrl.isDark == true">LRT 2</h5>
        <h5 class="grey-text" ng-if="$ctrl.isDark == false">LRT 2</h5><br>
	</div>
	<div class="horizontal-scroll">
        <span ng-repeat="s in $ctrl.sList.lrt2">
            <div ng-if="s.system_id == 2" class="card hoverable">
                <div class="card-img">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f1/LRT1_Monumento_Station_2009_MC.jpg/300px-LRT1_Monumento_Station_2009_MC.jpg" width="100%">
                </div>
                <div class="card-content">
                    <h6 class="truncate">{{s.name}}</h6>
                    <p class="grey-text">{{s.district}}</p>
                </div>
            </div>
        </span>
        
        <a href="#!system?id=2" class="black-text">
		<div class="card hoverable" style="bottom:30px">
        	<div class="card-img"></div>
            <div class="card-content">
				<p style="white-space:wrap;">
                    See all<br>11 stations
                </p>
            </div>
            <div class="card-action yellow darken-2">
            	<a class="black-text" href="#!system?id=2">SEE ALL</a>
            </div>
        </div>
       </a>        
	</div>
	<!-- .LRT 2 -->

	<!-- MRT 1 -->
	<div class="container">
		<h5 class="white-text" ng-if="$ctrl.isDark == true">MRT 3</h5>
        <h5 class="grey-text" ng-if="$ctrl.isDark == false">MRT 3</h5><br>
	</div>
	<div class="horizontal-scroll">
        <span ng-repeat="s in $ctrl.sList.mrt3">
            <div ng-if="s.system_id == 3" class="card hoverable">
                <div class="card-img">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f1/LRT1_Monumento_Station_2009_MC.jpg/300px-LRT1_Monumento_Station_2009_MC.jpg" width="100%">
                </div>
                <div class="card-content">
                    <h6 class="truncate">{{s.name}}</h6>
                    <p class="grey-text">{{s.district}}</p>
                </div>
            </div>
        </span>
        
        <a href="#!system?id=3" class="black-text">
		<div class="card hoverable" style="bottom:30px">
        	<div class="card-img"></div>
            <div class="card-content">
				<p style="white-space:wrap;">
                    See all<br>13 stations
                </p>
            </div>
            <div class="card-action yellow darken-2">
            	<a class="black-text" href="#!system?id=3">SEE ALL</a>
            </div>
        </div>
       </a>        
	</div>
	<!-- .MRT 3 -->


<br><br><br><br>
<bottombar></bottombar>

<div class="bottom-modal top" id="stationModal">
    <h6>
        Are you near {{$ctrl.nearBy}}?
    </h6>
    <br>
    <div class="right">
    	<a class="btn-flat blue-text text-darken-2" style="margin-right:2px;" ng-click="$ctrl.hideModal(this)">Yes</a>
        <a class="btn-flat blue-text text-darken-2">No</a>
    </div>
    
</div>
